#main {
	max-width: 1920px;
	height: 650px;
	background-image: url(../home.jpg);
	text-align: center;
	position: relative;
	overflow: auto;
}
/** formatting for welcome statement **/
#guide {
	min-width: 600px;
	min-height: 350px;
	width: 30%;
	height: 50%;
	position: absolute;
	top: 20%;
	left: 34%;
	background-color: #D2D2D2;
	border-radius: 15px;
	opacity: 0.7;
	overflow: auto;
}

#guide h1 {
	font-size: 28pt;
	font-weight: bold;
	margin-top: 7%;
}

#guide p {
	font-size: 17pt;
	font-style: italic;
	margin-left: 12%;
	margin-right: 12%;
}

#guide span {
	font-size: 16pt;
	padding: 10%;
}
/** formatting for search button in welcome statement **/
#searchBtn {
	color: white;
	font-size: 16pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 1%;
	border-radius: 7px;
	background-color: #31FF98;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/** formatting for login button in welcome statement **/
#loginBtn {
	color: white;
	font-size: 16pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 1%;
	border-radius: 7px;
	background-color: #28AEFF;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}