/** contains formatting consistant across all pages of the website**/
body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}
/** centers the content of the page **/
#wrapper {
	text-align: center;
	font-family: sans-serif;
	height: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
}

#header {
	background-color: #28AEFF;
	color: white;
	font-size: 40pt;
	font-weight: bold;
	padding: 20px;
}

#menu {
	background-color: #0068DB;
	overflow: hidden;
}
/** formatting for the links in the menu bar **/
#menu a {
	width :20%;
	padding-top: 15px; 
    padding-left: 20px; 
    padding-right: 20px;
	padding-bottom: 15px;
	margin: 0px;
    text-align: center;
	font-size: 12pt;
	font-weight: bold;
	color: white;
    text-decoration: none;
	display: inline-block;
}
/** formatting for making the active page a different colour in the menu bar **/
#menu a.active{
	background-color: #4CAF50;
	color: white;
}
/** formatting for making a menu link being hovered on a different colour if it is not the active page **/
#menu a:hover:not(.active) {
	background-color: #555;
	color: white;
}

#status {
	text-align: center;
	font-size: 20pt;
}

#subheader{
			background-color: #D3D3D3;
			min-height: 90px;
			text-align: center;
			margin-top: 0;
			padding-top:0;
			margin-bottom:0;
			
			}
#subheader h2{
			padding-top:30px;
			margin-top:0;
			}

#footer {
	background-color: #28AEFF;
	position: relative;
	left: 0px;
	bottom: 0px;
	height: 160px;
	width: 100%;
}
/** formatting for the logout button. Is only visible when the user is loggeed in **/
#header button {
	width: 120px;
	color: white;
	font-size: 16pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 7px;
	background-color: #31FF98;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	float: right;


}